@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

$area-width: 800px;
$battlefield-width: 750px;

.game-area {
  min-height: 750px;
  min-width: $area-width;

  & .end-game {
    text-align: right;
    margin: 10px 25px;
  }

  & .battlefield {
    width: $battlefield-width;
    height: 700px;
    border: 2px solid black;
    margin: 15px auto;
    //background-color: black;
  }
}

/* Win Lose start */
.win-lose-image {

  & img {
    width: 100%;
  }
}

.win-lose-result {
  & h2 {
    margin: 60px 0 20px 0;
  }
  text-align: center;
  font-size: 22px;
  & > div {
    margin-bottom: 5px;
  }
}

/* Win Lose end */

/* Game Info start */
.game-info-block {
  width: $battlefield-width;
  margin: 5px auto;

  & .game-info {
    display: flex;

    & > div {
      width: 50%;
    }
  }

  & .game-info-title {
    font-family: cursive;
    font-weight: 600;
    margin-bottom: 2px;

    &.enemy {
      text-align: right;
    }
  }

  & .enemy-count{
    text-align: right;
    font-family: cursive;
    font-weight: 600;
    margin-right: 5px;
  }
}

progress[value] {
  appearance: none;
  border: none;
  width: 100%; height: 20px;
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  color: royalblue;
  position: relative;
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius:3px;
  animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

.life::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient( 135deg,
                  transparent,
                  transparent 33%,
                  rgba(0,0,0,.1) 33%,
                  rgba(0,0,0,.1) 66%,
                  transparent 66%),
          -webkit-linear-gradient( top,
                  rgba(255, 255, 255, .25),
                  rgba(0,0,0,.2)),
          -webkit-linear-gradient( left, red, orange, yellow, green);
}

/* Game Info end */